.vscode/**
.vscode-test/**
src/**
test/**
out-test/**
coverage/**
.gitignore
.eslintrc.json
.prettierrc
.prettierignore
tsconfig.json
tsconfig.test.json
**/tsconfig.json
**/*.map
**/*.ts
**/*.test.js
node_modules/**
.github/**
